.container.flex.m-10
    article.max-w-sm.rounded.overflow-hidden.shadow-lg
        .px-6.py-4
            h3.font-bold.text-xl.mb-2 Title
            p.text-gray-dark.text-base Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem
            praesentium nihil.
            .py-4
                +tag('#cat')
                +tag('#dog')
                +tag('#whale')